

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                              RECOMEÇO CSS                                  */


/*                               Variáveis                                    */

:root {
    --cor-azul-ferroviario       : #1a2f4c;
    --cor-azul-ferroviario-claro : #234c84;
    --cor-background             : #f4f6f9;
    --cor-branca                 : #ffffff;
}

/*                                 Navbar                                     */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

#navbar-flex{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    list-style: none;

    margin: 0;
    padding: 0;

    height: 60px;

    position: relative;
}

#navbar-flex a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    padding-bottom: 8px;
}

#navbar-flex a.ativo{
    font-weight: 700;
    font-style: bold;
}

#navbar-flex a.ativo::after{
    content: "";

    position: absolute;

    left: 50%;
    bottom: 0;

    transform: translateX(-50%);

    width: 50px;
    height: 3px;

    background-color: var(--cor-azul-ferroviario-claro);
}

li#navbar-sair{
    position: absolute;
    right: 30px;
}

#navbar-sair {
    border-bottom: none;
    display: flex;
    align-items: center;
    gap: 8px; /* Espaço entre a palavra Sair e o futuro ícone */
}

/* Fazer a parte do icone posteriormente */

#navbar-ferroviario{
    width: 100%;
    height: 60px;
    background-color: var(--cor-azul-ferroviario);
}

#navbar-ferroviario-contraste {
    width: 100%;
    margin: 0;
    padding: 0;
}
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                             Navbar DROPDOWN                                */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

.dropdown{
    position: relative;
}

.dropdown-menu{
    display: none;

    position: absolute;
    top: 100%;
    left: 50%;

    transform: translateX(-50%);

    min-width: 110px;

    background: var(--cor-branca);

    border-radius: 10px;

    padding: 0px 0;

    list-style: none;

    box-shadow: 0 5px 15px rgba(0,0,0,.15);

    z-index: 1000;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu a{
    display: block;
    padding: 4px 20px;
    color: var(--cor-azul-ferroviario) !important;
}

.submenu-ativo{
    color: var(--cor-azul-ferroviario) !important;
    font-style: bold;
    font-weight: 900 !important;
}

/*                            Navbar DROPDOWN                                 */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

/*                                 Navbar                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
